@model PetStore.Web.ViewModels.Product.AllProductsViewModel

@{
    ViewData["Title"] = "Product-All";
}

<h1>All Products</h1>

@if(User.IsInRole(PetStore.Common.GlobalConstants.AdministratorRoleName))
{
        <p>
            <a class="btn btn-info" asp-action="Create">Create New</a>
        </p>
}

<p>
    <a class="btn btn-info" asp-action="Create">Create New</a>
</p>

<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
    <label class="form-check-label" for="inlineRadio1">1</label>
</div>
<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
    <label class="form-check-label" for="inlineRadio2">2</label>
</div>
<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" disabled>
    <label class="form-check-label" for="inlineRadio3">3 (disabled)</label>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Price
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AllProducts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>

                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>

                    @if (User.IsInRole(PetStore.Common.GlobalConstants.AdministratorRoleName))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                    
                </td>
            </tr>
        }
    </tbody>
</table>
