@using PetStore.Common

@model PetStore.Web.ViewModels.Product.AllProductsViewModel

@{
    ViewData["Title"] = "Product-All";
}

<div class="container">
    <div class="col-md-4">
        <h1>All Products</h1>

        @*@if (User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <p>
                <a class="btn btn-info" asp-action="Create">Create New</a>
            </p>
        }*@
       
        <p>
            <a class="btn btn-info" asp-action="Create">Create New</a>
        </p>

        @foreach (var category in Model.Categories)
        {
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="categoryCheckbox" id="@category" value="@category">
                <label class="form-check-label" for="@category">@category</label>
            </div>
        }
    </div>
    <div class="col-md-6 justify-content-end">
        <form method="get" asp-controller="Product" asp-action="All" class="mt-3">
            <div class="input-group">
                @if (Model.SearchQuery == null)
                {
                    <input type="text" id="search" name="search" class="form-control" placeholder="Search...">
                }
                else
                {
                    <input type="text" id="search" name="search" class="form-control" value="@Model.SearchQuery">
                }
                <div class="input-group-btn">
                    <button class="btn btn-success m-auto" type="submit">
                        Search
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Price
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AllProducts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>

                <td>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>

                  @*  @if (User.IsInRole(GlobalConstants.AdministratorRoleName))
                    {
                        <a class="btn btn-dark" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }*@
                    <a class="btn btn-dark" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>

                </td>
                <td hidden>
                    @item.CategoryName
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    (function (){
        let checkBoxes = document.getElementsByName("categoryCheckbox");
        for (var box of checkBoxes) {

        }
    })();       
</script>
